footer
  .datos
    h3 CONTACTENOS:
    a.phone(href="tel:+543534530766") 
      span.fa.fa-phone
      | +54 353 4530766
    a.phone(href="tel:+543534530766")
      | +54 353 4529358
    p
    .horarios
      h3 HORARIOS:
      p Lunes a Viernes:
      p 8:30 a 13:00 - 16:30 a 20:00
      p Sabados:
      p 9:00 a 12:30
    .pie
      a(href='') hoversoft
  iframe.mapa(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3368.193823926106!2d-63.249933484222204!3d-32.413965852452456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95cc42e1ae2e8341%3A0xd1f7005207857eba!2sBuenos+Aires+660%2C+Villa+Mar%C3%ADa%2C+C%C3%B3rdoba!5e0!3m2!1ses!2sar!4v1480372202214" frameborder="0" allowfullscreen)