footer
  background-color: #0271BC
  font-family: Exo, $segoe
  // min-height: 500px
  display: flex
  flex-direction: row
  font-size: 1.3em
  text-align: center
  line-height: 50px
  flex: 1
  p
    color: #EEEEEE
    width: 100%
  span
    width: 2em
    color: #EEEEEE
  a
    color: #EEEEEE
    &:hover
      color: #FE5757
      text-decoration: none
.datos
  margin-top: 40px
  width: 50%
  font-size: 1.1em
.titulo
  font-size: 1.3em
.fa
  font-size: 1.2em
.pie
  font-size: 0.7em
  background-color: $blue
  text-align: right
  padding-right: 2em
  a
.mapa
  display: inline-block
  height: 100%
  width: 70%
  .googleMap
    margin: 0