footer
  background-color: #006666
  text-align: center
  padding: 10px
  font-family: Exo, $segoe
  p
    margin: 10px
    color: #EEEEEE
  a
    color: #FE5757
    
    font-size: 1.15em
    &:hover
      color: #FE5757
      text-decoration: none
