footer
  background-color: #0271BC
  font-family: Exo, $segoe
  height: 500px
  display: flex
  font-size: 1.5em
  text-align: center
  p
    color: #EEEEEE
    line-height: 50px
    display: inline-block
    width: 100%
  span
    display: inline-block
    width: 2em
    color: #EEEEEE
  a
    color: #EEE
    &:hover
      color: #FE5757
      text-decoration: none
.datos
  display: inline-block
  margin: auto
  float: left
  width: 50%
  font-size: 1.1em
.titulo
  font-size: 1.3em
.fa
  font-size: 1.2em
.mapa
  display: inline-block
  height: 100%
  width: 70%
  .googleMap
    margin: 0