footer
  .contacto
    h4 CONTACTENOS:
    a(href="tel:+543534530766") 
      span.fa.fa-phone
      | +54 353 4530766
    br
    a(href="tel:+543534530766")
      span.fa.fa-phone
      | +54 353 4529358
    br
    a(href="mailto:contacto@paseguros.com.ar")
      span.fa.fa-envelope
      | contacto@paseguros.com.ar
    br
    span.fa.fa-map-marker
    | Buenos Aires 660 - Villa María (Cba)
    br
    a(href='/contacto.html')
        button.btn.btn-success.btn-lg
          | Contactenos
  .horarios
    h4 HORARIOS:
    p Lunes a Viernes:
    p 8:30 a 13:00 - 16:30 a 20:00
    p Sabados:
    p 9:00 a 12:30
  //- .pie
  //-   a(href='') hoversoft