footer
  .datos
    h3 CONTACTENOS
    a.phone(href="tel:+543534530766") 
      span.fa.fa-phone
      | +54 353 4530766
    p Lunes a Viernes 8:30 a 13:00 - 16:30 a 20:00
    p Sabados 9:00 a 12:30
    .pie
      a(href='') hoversoft
  .mapa
    #googleMap.googleMap.loading