@import "../../base/sass/base.sass"
@import "../../modules/navbar/navbar.sass"
.content
  background-color: white
  color: $black
  padding-top: 250px 
  h1
    text-align: center
.navegacion
  font-size: 2em
  margin-top: 70px
  text-align: center
  a
    margin-right: 20px
    text-decoration: none
 
.container
  margin: 0 auto
  .table
    font-size: 1.5em
    margin-bottom: 30px
    margin-top: 40px
  .fa-check-circle
    color: $green
  .fa-minus-square
    color: $red
  h3
    font-size: 2em
    padding-top: 150px
    text-align: center
  .btn
    color: $white
    margin-left: 46%
    text-decoration: none