@import "../../base/sass/base.sass"
@import "../../modules/navbar/navbar.sass"
.content
  padding-top: 250px 
  color: $grey1
  font-size: 2em
  
.descripcion
  text-align: center
  font-size: 1.3em
.navegacion
  margin-top: 70px
  font-size: 1.2em
  a
    margin-right: 20px
    text-decoration: none
 
.container
  margin: 0px auto
  // transition: 300ms ease-in-out
  .table
    margin-top: 40px
    font-size: 1.2em
    margin-bottom: 30px
  h3
    padding-top: 150px
    text-align: center
    font-size: 1.5em
    // transition: 300ms ease-in-out
  .btn
    margin-left: 46%
    color: $white
    text-decoration: none