@import "../../base/sass/base.sass"
@import "../../modules/navbar/navbar.sass"
.content
  padding-top: 250px 
  color: $black
  background-color: white
.descripcion
  text-align: center
.navegacion
  text-align: center
  margin-top: 70px
  font-size: 2em
  a
    margin-right: 20px
    text-decoration: none
 
.container
  margin: 0px auto
  .table
    margin-top: 40px
    font-size: 1.5em
    margin-bottom: 30px
  .fa-check-circle
    color: $green
  .fa-minus-square
    color: $red
  h3
    padding-top: 150px
    text-align: center
    font-size: 2em
  .btn
    margin-left: 46%
    color: $white
    text-decoration: none