extends ../../base/jade/base.jade

block vars
  - var title = 'Nosotros'
block append style
  link(href="./css/nosotros.css", rel="stylesheet")
block append script
  script(src="./js/nosotros.js")
block content
  .content