@import "../../base/sass/base.sass"
@import "../../modules/navbar/navbar.sass"
.content
  padding-top: 250px 
  color: $grey1
  text-align: justify
  font-size: 2em
  padding-left: 150px
  padding-right: 150px
.titulo
  text-align: center
  font-size: 2.3em