@import "../../base/sass/base.sass"
@import "../../modules/navbar/navbar.sass"
.content
  background-color: white
.container
  padding-top: 150px
  color: $black
  text-align: left
  font-size: 2em
  margin: 0 auto
.titulo
  text-align: center
  font-size: 2.3em