@import "../../base/sass/base.sass"
@import "../../modules/navbar/navbar.sass"
.content
  padding-top: 250px 
  color: $grey1
  font-size: 2em
.formularios
  height: 450px
  width: 100%
  background-color: $blue
  text-align: center
  color: $grey3
  h2
    margin-top: 220px
    margin-bottom: 50px
  a
    margin-right: 80px
    img
      width:100%
    