extends ../../base/jade/base.jade

block vars
  - var title = 'Gestion'
block append style
  link(href="./css/gestion.css", rel="stylesheet")
block append script
  script(src="https://cdnjs.cloudflare.com/ajax/libs/blazy/1.6.2/blazy.min.js")
  script(src="./js/gestion.js")
block content
  .formularios
    h2 Si sos asegurado descargá nuestros formularios de siniestros
    a(href="#",target="_blank")
        img.norte(src="/img/pdf.png")
    a(href="#",target="_blank")
        img.norte(src="/img/pdf.png")
    a(href="#",target="_blank")
        img.norte(src="/img/pdf.png")