extends ../../base/jade/base.jade

block vars
  - var title = 'Mi Gestion'
block append style
  link(href="./css/gestion.css", rel="stylesheet")
block append script
  script(src="https://cdnjs.cloudflare.com/ajax/libs/blazy/1.6.2/blazy.min.js")
  script(src="./js/gestion.js")
block content
  .formularios
    h2 Si sos asegurado descargá nuestros formularios de siniestros
    .pdf
      a(href="#",target="_blank")
          figure
            img(src='/img/pdf.png', alt='Descargar PDF')
            figcaption Siniestro Liderar (asegurado)
      a(href="#",target="_blank")
          figure
            img(src='/img/pdf.png', alt='Descargar PDF')
            figcaption Siniestro Liderar (tercero)
      a(href="#",target="_blank")
          figure
            img(src='/img/pdf.png', alt='Descargar PDF')
            figcaption Siniestro Escudo (asegurado)
      a(href="#",target="_blank")
          figure
            img(src='/img/pdf.png', alt='Descargar PDF')
            figcaption Siniestro Escudo (tercero)
  .cotizador
    p Rellene el formulario para que uno de nuestros agentes se comunique con usted en la brevedad
    br
    section.contactenos
          .valign
            form#consulta.form-horizontal(method="post")
              fieldset.col-md-8.col-md-push-2
                .form-group
                  label.control-label(for='nombre') Nombre y Apellido:
                  input#nombre.form-control.input-md(name='nombre', type='text', placeholder='Ingrese su nombre y apellido', required)
                .form-group
                  label.control-label(for='email') Dirección de Email:
                  input#email.form-control.input-md(name='email', type='text', placeholder='Ingrese su email', required)
                .form-group
                  label.control-label(for='consulta') Consulta:
                  textarea#consulta.form-control(name='consulta',placeholder='Ingrese su consulta', required)
              .col-md-12.text-center
                input#enviarConsulta.button(type='submit', value='Enviar')