@import "../../base/sass/base.sass"
@import "../../modules/navbar/navbar.sass"
@import "../../modules/footer/footer.sass"
body
  display: flex
//DESIGN
.portada
  align-items: center 
  background-size: cover
  background-position: center
  display: flex
  height: 100vh
  .presentacion
    color: $black
    margin-left: 3em
    h1
      font-size: 5em
      text-align: right
    h2
      font-size: 2em
      text-align: right
.empresas
  background-color: $white
  color: $black
  display: flex
  font-size: 2em
  flex-direction: column
  min-height: 250px
  padding: 50px
  text-align: center
  padding-left: 40px
  .logos
    margin: auto
    margin-top: 40px
  img
    cursor: pointer
    height: 70px
    margin: 25px 50px 0 50px
.swiper-container
  height: 100vh
  position: relative
  width: 100%
  z-index: 1
  .swiper-slide
    background-position: center
    background-size: cover
    color: $black
    display: flex
    font-size: 4em
    padding-top: 4em
    padding-left: 3em
    position: relative
    span
      left: 10%
      position: absolute
      top: 20%
  .btn
    left: 10%
    position: absolute
    top: 30%
    z-index: 2
    
.googleMap
  height: 100%
#error_
  display: none

