extends ../../base/jade/base.jade

block vars
  - var title = 'Inicio'  
block append style
  link(href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css", rel="stylesheet")
  link(href="./css/index.css", rel="stylesheet")
block append script
  script(src="./js/index.js")
block content
  section.portada(style='background-image:url(https://6sigma.com/wp-content/uploads/2013/08/6Sigma_slideroption2.jpg)')
    .presentacion
      h1 Productores asociados
      h2 Agencia de seguros
      a(href='/gestion.html')  
        button.btn.btn-success.btn-lg
          | Hacer un seguro
  section.empresas
    h3 Trabajamos con las empresas más experimentadas
    .logos
      a(href="http://www.liderarseguros.com.ar/",target="_blank")
        img(src="/img/liderar.png" alt="Liderar Seguros")
      a(href="http://www.escudoseguros.com.ar/",target="_blank")
        img(src="/img/escudo.png" alt="Escudo Seguros")
      a(href="http://www.beneficioweb.com.ar/",target="_blank")
        img(src="/img/beneficio.png" alt="Beneficio Seguros")
    .logos
      a(href="https://www.prudenciaseguros.com.ar/", target="_blank")
        img(src="/img/prudencia.png" alt="Prudencia Seguros")
      a(href="http://www.liderarart.com.ar/", target="_blank")
        img(src="/img/liderarart.jpg" alt="Liderar ART Seguros")
      a(href="https://www.elnorte.com.ar/",target="_blank")
        img(src="/img/norte.jpg" alt="El Norte Seguros")
  section.servicios
    h3 Ofrecemos una gran variedad de seguros
    main
      input#tab1(type='radio', name='tabs', checked='')
      label(for='tab1') Automoviles Particulares
      input#tab2(type='radio', name='tabs')
      label(for='tab2') Transporte de pasajeros
      input#tab3(type='radio', name='tabs')
      label(for='tab3') Transporte de mercaderia
      //- input#tab4(type='radio', name='tabs')
      //- label(for='tab4') Incendio
      //- input#tab5(type='radio', name='tabs')
      //- label(for='tab5') Robo
      input#tab6(type='radio', name='tabs')
      label(for='tab6') Hogar
      input#tab7(type='radio', name='tabs')
      label(for='tab7') Interior de Comercio e Industria
      //- input#tab8(type='radio', name='tabs')
      //- label(for='tab8') Cristales
      input#tab9(type='radio', name='tabs')
      label(for='tab9') Responsabilidad Civil en Eventos
      input#tab10(type='radio', name='tabs')
      label(for='tab10') Caución
      section#content1
        .categorias
          .categoria(style='background-image:url(http://25.media.tumblr.com/3de24d3ba7cbd06744611b6c6823e851/tumblr_mv6l70kZow1re7kdno1_500.jpg)')
            .fondo
            .info
              h4 RESPONSABILIDAD CIVIL
              p Seguro básico obligatorio que lo cubrirá contra daños a terceros.
              br
              a(href='/servicios.html') Ver más
          .categoria(style='background-image:url(https://images.unsplash.com/photo-1455747634646-0ef67dfca23f?dpr=1&auto=format&fit=crop&w=1500&h=1125&q=80&cs=tinysrgb&crop=)')
            .info
              h4 INCENDIO
              p Protega su vehiculo de daños materiales producidos por incendio parcial o total.
              br
              a(href='/servicios.html') Ver más
          .categoria(style='background-image:url(http://il9.picdn.net/shutterstock/videos/1763126/thumb/1.jpg)')
            .info
              h4 ROBO
              p Protegase del robo producido por fuerza o intimidación.
              br
              a(href='/servicios.html') Ver más
          .categoria(style='background-image:url(https://images.unsplash.com/photo-1484759641316-08d184c74894?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=)')
            .info
              h4 CRISTALES
              p Protega los cristales de su vehiculo con esta cobertura.
              br
              a(href='/servicios.html') Ver más 
      section#content2
        .categorias
          .categoria(style='background-image:url(https://images.unsplash.com/photo-1421885624916-1898de336bb1?dpr=1&auto=format&fit=crop&w=1500&h=844&q=80&cs=tinysrgb&crop=)')
            .info
              h4 Taxis y Remises
              p Seguro obligatorio que lo cubrirá contra daños a terceros y al pasajero.
              br
              a(href='/servicios.html') Ver más
          .categoria(style='background-image:url(https://images.unsplash.com/photo-1484442944992-ae6aefae0e1e?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=)')
            .info
              h4 Servicio urbano, interurbano, nacional e internacional de ómnibus y colectivos
              p Seguro obligatorio que lo cubrirá contra daños a terceros y a los pasajeros.
              br
              a(href='/servicios.html') Ver más
      section#content3
        .categorias
          .categoria(style='background-image:url(http://wallpapercave.com/wp/OJnscpN.jpg)')
            .info
              h4 Mercaderias generales
              p Seguro que lo cubrira de los posibles daños a los materiales transportados para su comercialización.
              br
              a(href='/servicios.html') Ver más
      //- section#content4
      //-   .categorias
      //-     .categoria 
      //-       h4 Combinado Hogar
      //-       p Ampare su hogar de posibles robos, quemadura de electrodomesticos por caida de rayos, etc.
      //-       a(href='/servicios.html') Ver más
      //- section#content5
      //-  .categorias
      //-     .categoria 
      //-       h4 Mercaderias generales
      //-       p Seguro que lo cubrira de los posibles daños a los materiales transportados para su comercialización
      //-       a(href='/servicios.html') Ver más
      section#content6
        .categorias
          .categoria(style='background-image:url(http://www.inspectionsplusguru.com/portals/_default/Skins/InspectionsPlus/images/header-back.png)')
            .info
              h4 Combinado Hogar
              p Ampare su hogar de posibles robos, quemadura de electrodomesticos por caida de rayos, etc.
              br
              a(href='/servicios.html') Ver más
      section#content7
        .categorias
          .categoria(style='background-image:url(https://images.unsplash.com/photo-1473213110592-19430a217c0e?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=)')
            .info 
              h4 Comercios e Industrias
              p Protega sus bienes de cambio y de uso.
              br
              a(href='/servicios.html') Ver más
      //- section#content8
      //-   p
      //-     | Bacon ipsum dolor sit amet beef venison beef ribs kielbasa. Sausage pig leberkas, t-bone sirloin shoulder bresaola. Frankfurter rump porchetta ham. Pork belly prosciutto brisket meatloaf short ribs.
      section#content9
        .categorias
          .categoria(style='background-image:url(https://images.unsplash.com/photo-1447169685565-fedaa08420df?dpr=1&auto=format&fit=crop&w=1500&h=994&q=80&cs=tinysrgb&crop=)')
            .info
              h4 Responsabilidad civil en eventos
              p Asegure a las personas que asistan a su evento ante cualquier accidente.
              br
              a(href='/servicios.html') Ver más
      section#content10
        .categorias
          .categoria(style='background-image:url(http://www.constructionspecifier.com/wp-content/uploads/2015/08/bigstock-Signing-Legal-Document-67353190.jpg)')
            .info
              h4 Caución
              p Garantice su pago en caso de incumplimiento.
              br
              a(href='/servicios.html') Ver más
  section.clientes
    h3 Ellos confian en nosotros
    .logos
      img(src="/img/basscor.png", alt="Basscor")
      img#agrandar(src="/img/coata.jpg", alt="Córdoba Coata")
      img#agrandar(src="/img/elturista.jpg", alt="El Turista")
      img#agrandar(src="/img/flechabus.png", alt="Flecha Bus")
    .logos
      img(src="/img/lacalera.png", alt="La Calera")
      img(src="/img/lapalestina.png", alt="Municipalidad de La Palestina")
      img(src="/img/perez.jpg", alt="Perez")
      img(src="/img/villanueva.png", alt="Municipalidad de Villa Nueva")
  section.map-container
    h3 Encontranos en Buenos Aires 660 - Villa María (Cba)
    h4 Click en el mapa para activar zoom y desplazamiento
    iframe.mapa(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3368.193823926106!2d-63.249933484222204!3d-32.413965852452456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95cc42e1ae2e8341%3A0xd1f7005207857eba!2sBuenos+Aires+660%2C+Villa+Mar%C3%ADa%2C+C%C3%B3rdoba!5e0!3m2!1ses!2sar!4v1480372202214" frameborder="0" allowfullscreen)