extends ../../base/jade/base.jade

block vars
  - var title = 'Inicio'  
block append style
  link(href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css", rel="stylesheet")
  link(href="./css/index.css", rel="stylesheet")
block append script
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js')
  script(src="./js/index.js")
  script(src="https://maps.googleapis.com/maps/api/js?v=3.exp")
  script(type='text/javascript', src='https://embedmaps.com/google-maps-authorization/script.js?id=578211ec95ee84eda009d94bc38080aecb364879')
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZBxAVO5dq0vvA4pQsf5gogv4jUQ_cSek")
block content
  .portada(style='background-image:url(https://6sigma.com/wp-content/uploads/2013/08/6Sigma_slideroption2.jpg)')
    .presentacion
      h1 Productores asociados
      p aseguradores de tus bienes más preciados
  .empresas
    |Trabajamos con las empresas más experimentadas
    .logos
      a(href="https://www.elnorte.com.ar/",target="_blank")
        img.norte(src="/img/norteimg.jpg" alt="El Norte Seguros")
      a(href="http://www.beneficioweb.com.ar/",target="_blank")
        img.beneficio(src="/img/beneficio_marca.png" alt="Beneficio Seguros")
      a(href="http://www.escudoseguros.com.ar/",target="_blank")
        img.escudo(src="/img/escudopng.png" alt="Escudo Seguros")
      a(href="http://www.liderarseguros.com.ar/",target="_blank")
        img.liderar(src="/img/liderarpng.png" alt="Liderar Seguros")
  .swiper-container
    a(href='/servicios.html')
      button.btn.btn-success.btn-lg
        | Conoce más
    .swiper-wrapper
      .swiper-slide(style='background-image:url(/img/car.jpg)')
        span Asegura tus vehiculos
      .swiper-slide(style='background-image:url(/img/fam.jpg)')  
        span Asegura tu familia
      .swiper-slide(style='background-image:url(http://www.archipro.co.nz/assets/Uploads/_resampled/background-Kuaotunu-House-2.jpg)') 
        span Asegura tu hogar
      .swiper-slide(style='background-image:url(http://www.deangroup-int.co.uk/wp-content/uploads/2015/10/female-engineer-in-the-field-iStock_000011202267_Medium-1024x768.jpg)') 
        span Asegura a tus empleados
