extends ../../base/jade/base.jade

block vars
  - var title = 'Contactenos'
block append style
  link(href="./css/contacto.css", rel="stylesheet")
block append script
  script(src="./js/contacto.js")
block content
  .content
    p Rellene el formulario para que uno de nuestros agentes se comunique con usted en la brevedad
    br
    .content-info 
      section.contactenos
        .valign
          form#consulta.form-horizontal(method="post")
            fieldset.col-md-8.col-md-push-2
              .form-group
                label.control-label(for='nombre') Nombre y Apellido:
                input#nombre.form-control.input-md(name='nombre', type='text', placeholder='Ingrese su nombre y apellido', required)
              .form-group
                label.control-label(for='email') Dirección de Email:
                input#email.form-control.input-md(name='email', type='text', placeholder='Ingrese su email', required)
              .form-group
                label.control-label(for='consulta') Consulta:
                textarea#consulta.form-control(name='consulta',placeholder='Ingrese su consulta', required)
            .col-md-12.text-center
              input#enviarConsulta.button(type='submit', value='Enviar')
    p Otros datos de contacto
    br
    .datoscontacto
      p Horario de atención
      p Lunes a Viernes 8:30 a 13:00 - 16:30 a 20:00
      p Sabados 9:00 a 12:30
      //- a.phone(href="tel:+543534530766") 
      span.fa.fa-phone 
      p.phone +54 353 4530766
      
